body {
    background: #0f172a;
    font-family: Arial;
    color: white;
}

.admin-login-box {
    width: 300px;
    margin: 150px auto;
    background: #1e293b;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px;
    background: #f59e0b;
    border: none;
    width: 100%;
}
